doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .modal.fade.register-modal(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden="true") &times;
            h4.modal-title Register
          .modal-body
            form(action='/register', method='post', enctype='multipart/form-data')
              .form-group
                label Name
                input.form-control(type='text', placeholer='John Smith', name='userName', required)
              .form-group
                label Email Address
                input.form-control(type='email', placeholer='email@email.com', name='email', required)
              .form-group
                label Password
                input.form-control(type='password', placeholer='********', name='password', required)
              .form-group
                label Picture
                input.form-control(type='file', name='userPhoto', required)
              .form-group
                a(href='#', type="button", data-dismiss="modal").btn.btn-default Close
                button.btn.btn-danger(type="submit") Register
    nav(class='navbar navbar-default', role='navigation')
      .container-fluid
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navagation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li: a(href='/') Home
            if userId
              li: a(href='/users/show') Profile
            li.dropdown
              a.dropdow-toggle(href='#', data-toggle='dropdown') Navigate <b class="caret"></b>
              ul.dropdown-menu
                li: a(href='/fleets/index') View Fleets
                li: a(href='#') Action2
                li: a(href='#') Action3
                li.divider
                li: a(href='#') Action4
                li.divider
                li: a(href='#') Action4
          .nav.navbar-nav.navbar-right
            if login == false
              button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown') User
              ul.dropdown-menu
                li
                  form#loginForm(action='/login', method='post')
                    #loginFormPad
                      input.form-control(type='text', placeholder="Email", name='email')
                      input.form-control(type='password', placeholder="Password", name='password')
                      button(type='submit', class='btn btn-info') Login
                li: button.btn.btn-warning.btn-link(data-toggle='modal', data-target='.register-modal') Not Registered?
            if login == true
              a(href='/logout').btn.btn-danger Log Out
    block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/bootstrap.min.js', type='text/javascript')
    script(language="javascript").
      $('.dropdown-toggle').dropdown();
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

