doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    nav(class='navbar navbar-default', role='navigation')
      .container-fluid
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navagation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li.active: a(href='#') Link
            li: a(href='#') Link 2
            li.dropdown
              a.dropdow-toggle(href='#', data-toggle='dropdown') Dropdown <b class="caret"></b>
              ul.dropdown-menu
                li: a(href='#') Action
                li: a(href='#') Action2
                li: a(href='#') Action3
                li.divider
                li: a(href='#') Action4
                li.divider
                li: a(href='#') Action4
          form.navbar-form.navbar-left
          .nav.navbar-nav.navbar-right
            button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown') User
            ul.dropdown-menu
              li
                form
                  input.form-control(type='text', placeholder="Email")
                  input.form-control(type='text', placeholder="Password")
                  button(type='submit', class='btn btn-info') Login
              li: button.btn.btn-link(type='button') Not Registered?
    block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/bootstrap.min.js', type='text/javascript')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

